<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  
    <h1>Projects</h1>
  <form action="/deploy" method="post">
    
    <ul>
    <% for (var project in projects) { %>
    <li>
    <%= project %>:<%= projects[project].branch %> <button type="submit" class="btn btn-primary btn-large" name="project" value="<%=project%>">Deploy!</button>
    </li>
    <% } %>
    </ul>

    
  </form>

</div>
