<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  
    <h2>Config</h2>
    <p>
        path to repo: <%= conf.data.pathToRepo %>
    </p>
    <p>
        branch: <%= conf.data.branch %>
    </p>

  <form action="/deploy" method="post">
    <button type="submit" class="btn btn-primary btn-large">Deploy!</button>
  </form>

</div>
