<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  
    <h2>Config</h2>
    
    <ul>
    <% for (var project in projects) { %>
    <li>
    <%= project %>
    </li>
    <% } %>
    <p>
        path to repo: 
    </p>
    <p>
        branch: 
    </p>
    </ul>

  <form action="/deploy" method="post">
    <button type="submit" class="btn btn-primary btn-large">Deploy!</button>
  </form>

</div>
